html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif; }

header {
  background-color: #1f1f8f; }
  header .logo {
    color: white;
    padding: 1rem;
    font-size: 2rem;
    text-transform: uppercase; }

form {
  margin: 2rem auto;
  display: grid;
  place-items: center; }
  form input {
    width: 20rem;
    height: 2rem;
    border-radius: 2rem;
    outline: none;
    border: 1.5px solid grey;
    padding: 0.5rem;
    margin-bottom: 1rem; }
  form button {
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    background-color: blue;
    color: white;
    border-radius: 1rem; }

main {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem; }
  main .card {
    padding: 0.5rem;
    border: 0.2rem solid grey;
    border-radius: 2rem; }
    main .card .card-img {
      display: grid;
      place-items: center; }
      main .card .card-img img {
        height: 100px;
        width: 100px; }
    main .card .card-title {
      padding: 0.5rem;
      font-weight: bold;
      padding-left: 1rem; }
    main .card hr {
      padding: 0;
      margin: 0.1rem; }
    main .card .card-price {
      padding: 0.5rem;
      padding-left: 1rem; }

.card-desc {
  margin: 2rem;
  padding: 0.5rem;
  border: 0.2rem solid grey;
  border-radius: 2rem;
  display: inline-block; }
  .card-desc .card-img {
    display: grid;
    place-items: center; }
  .card-desc .card-title {
    padding: 0.5rem;
    font-weight: bold;
    padding-left: 1rem; }
  .card-desc hr {
    padding: 0;
    margin: 0.1rem; }
  .card-desc .card-price {
    padding: 0.5rem;
    padding-left: 1rem; }
